<section class='posts'>
  <div class='userCard'>
    <div>
      <img src=<%= @user.photo %> alt='User Photo' class='userPhoto'>
    </div>
    <div class='userInfo'>
      <h2 class='userHead'><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div class='userPosts'>
  <button class='btn'><%= link_to 'Add new post', new_user_post_path %></button>
    <% @posts.each do |post| %>
      <div class='userPost'>
        <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
        <p><%= post.text %></p>
        <p class='comlik'>Comments: <%= post.comments_counter.nil? ? 0 : post.comments_counter %>, Likes: <%= post.likes_counter.nil? ? 0 : post.likes_counter %></p>
      </div>
      <% unless post.recent_comments.empty? %>
        <div class='postComments'>
          <%# 
            First POST -> COMMENTS -> USER_ID
           %>
          <% post.recent_comments.includes(:user).each do |comment| %>
            <p><%= comment.user.name %>: <%= comment.text %></p>
          <% end %>
        </div>
      <% end %>  
    <% end %>
  </div>
  <button class='btn'>Pagination</button>
</section>
