<section class='addPost'>
  <%= form_with model: @post, url: user_posts_path, method: :post do |form| %>
    <%= form.label :title, 'Title:' %>
    <%= form.text_field :title, :class => 'field' %>
    <%= form.label :text, 'Text:' %>
    <%= form.text_area :text, :class => 'area' %>
    <%= form.submit 'Create Post', :class => 'btn' %> 
  <% end %>
</section>
