<section class='postDetail'>
  <button class='btn'><%= link_to 'Back', user_posts_path(@user) %></button>
  <div class='userPost'>
    <h4><%= @post.title %> - <%= @post.author.name %></h4>
    <p class='comlik'>Comments: <%= @post.comments_counter.nil? ? 0 : @post.comments_counter %>, Likes: <%= @post.likes_counter.nil? ? 0 : @post.likes_counter %></p>
    <p><%= @post.text %></p>
  </div>
  <%= button_to 'Like', user_post_likes_path(@user, @post), :class => 'btn', method: :post %>
  <% if can? :destroy, @post %>
    <%= button_to 'Delete post', user_post_path(@post.author, @post), :class => 'btn', method: :delete %>
  <% end %>
  <button class='btn'><%= link_to 'Add new comment', new_user_post_comment_path(@user, @post) %></button>
  <% unless @post.comments.empty? %>
    <div class='postComments'>
      <% @post.comments.includes(:user).each do |comment| %>
        <p>
          <%= comment.user.name %>: <%= comment.text %>
          <% if can? :destroy, comment %>
            <%= button_to 'Delete', user_post_comment_path(comment.user, @post, comment), method: :delete %>
          <% end %>  
        </p>
      <% end %>
    </div>
  <% end %>
</section>
